@keyframes loadOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes textAppearY {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes textAppearX {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes navFallDown {
  0% {
    transform: translateY(-190px);
  }
  70% {
    transform: translateY(-190px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navRiseUp {
  0% {
    transform: translateY(190px);
  }
  70% {
    transform: translateY(190px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mobileNav {
  from {
    right: -100vw;
    transform: rotate(360deg);
  }
  to {
    right: -17vw;
    transform: rotate(calc(360 - 0) deg);
  }
}

@keyframes textAppearY2 {
  0% {
    transform: translateY(-80px) rotate(285deg);
  }
  50% {
    transform: translateY(-80px) rotate(285deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.one, .four, .seven, .ten {
  background-color: #7691b7;
}

.two, .five, .eight, .eleven {
  background-color: #e79b5d;
}

.three, .six, .nine, .twelve {
  background-color: #ebc661;
}

.container123, .container456, .container789, .containerLast {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0rem;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: 1s linear;
}

.container123 .column__data, .container456 .column__data, .container789 .column__data, .containerLast .column__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 9vw;
  height: 90vh;
}

.container123 a, .container456 a, .container789 a, .containerLast a {
  display: flex;
  align-items: center;
  width: 9vw;
  min-width: 9vw;
  flex-shrink: 0;
  height: 100vh;
  cursor: pointer;
}

.column__data-text, .column__data-svg {
  writing-mode: vertical-lr;
  font-weight: 400;
  color: #f9f5ed;
}

.column__data {
  overflow: hidden;
}

.column__data-svg {
  top: 2rem;
  width: 50px;
  height: 50px;
  background-image: url(/img/flower.svg);
  background-repeat: no-repeat;
  transition: 1s linear;
  animation: spinner ease-out 1.2s 1;
  animation: loadOpacity 0.5s linear 1;
}

.column__data-shrink {
  width: 0px;
  height: 0px;
}

.column__data-spinner {
  animation: spinner cubic-bezier(0.57, -0.03, 0.83, 0.67) 0.5s infinite;
}

.column__data-text {
  display: flex;
  align-items: center;
  bottom: 2rem;
  font-size: 3.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.column__data-text-0 {
  animation: textAppearX 0.7s linear 1;
}

.column__data-slide {
  transform: translate3d(300px, 0%, 0px);
}

.container456 .blankDiv {
  position: relative;
  width: 9vw;
  height: 100vh;
}

.container456 .hiddenDiv {
  display: flex;
  width: calc(100vw - (9vw * 3));
  flex-shrink: 1;
}

.container456 .hiddenSix {
  position: absolute;
  left: calc(9vw * 2);
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container789 .seven {
  margin-right: 9vw;
}

.container789 .eight {
  position: absolute;
  right: 9vw;
}

.container789 .nine {
  position: absolute;
  right: 0;
}

.containerLast {
  justify-content: right;
}

main {
  left: calc(27vw);
}

.hero {
  position: absolute;
  top: 0;
  width: 73vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  color: #7d7b78;
  overflow-y: hidden;
}

.hero .pageTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  overflow-y: hidden;
  height: 170px;
  width: fit-content;
}

.hero .pageTitle div:first-child {
  animation: textAppearY 0.7s linear 1;
}

.hero .pageTitle > div + div {
  font-size: 2rem;
  color: orange;
}

.hero div + div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 9.5rem;
}

.hero div + div svg {
  margin-right: 5rem;
  width: 80px;
  height: 80px;
  filter: invert(0.6);
  background-image: url(/img/flower.svg);
  background-repeat: no-repeat;
}

.hero div:nth-child(3) {
  margin-top: 3rem;
  margin-left: 33rem;
  font-size: 2rem;
  color: orange;
}

.halfway {
  position: relative;
  top: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #7d7b78;
  font-size: 7rem;
  border: solid black 2px;
}

footer {
  position: absolute;
  top: 220vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #8bc3d2;
  overflow-y: hidden;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 80%;
  grid-gap: 2rem;
}

footer .footer-container > div {
  display: flex;
  flex-direction: row;
}

.footer__box {
  margin-top: 4rem;
  display: flex;
  color: white;
}

.footer__box:first-child {
  margin-bottom: 4rem;
}

.footer__left {
  width: 60%;
}

.footer__left-1 {
  line-height: 4rem;
  font-size: 5rem;
}

.footer__left-2, .footer__left-3 {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.footer__left-2 span, .footer__left-3 span {
  line-height: 3rem;
  font-size: 1rem;
}

.footer__center {
  width: 20%;
}

.footer__center-1 a {
  position: relative;
  display: flex;
  align-items: center;
  width: 230px;
  padding: 1rem;
  margin-top: 10px;
  border-radius: 40px;
  border: 1px solid #c1a5d5;
}

.footer__center-1 a span:last-child {
  position: absolute;
  left: 10rem;
  display: flex;
  align-items: center;
  padding: 0.9rem;
  background-color: #f9f5ed;
  border-radius: 50%;
}

.footer__center-1 a svg {
  width: 40px;
  height: 40px;
  background-image: url(/img/email.svg);
}

.footer__center-2 {
  display: flex;
  flex-direction: row;
  border: 3px solid pink;
}

.footer__center-2 a > svg {
  display: flex;
  flex: 2 0.15 100px;
  background-repeat: no-repeat;
  border: 1px solid black;
}

.footer__center-2 a:first-child svg {
  background-image: url(/img/icons8-facebook.svg);
}

.footer__center-2 a:nth-child(2) svg {
  background-image: url(/img/icons8-twitter-circled.svg);
}

.footer__center-2 a:nth-child(3) svg {
  background-image: url(/img/icons8-instagram.svg);
}

.footer__center-2 a:nth-child(4) svg {
  background-image: url(/img/icons8-github.svg);
}

#socialTags {
  flex: 0.7;
}

.footer__bottom {
  width: 20%;
}

.footer__bottom-1 {
  font-size: 3rem;
}

.footer__bottom-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 27vw);
  height: 20vh;
  transition: 0.2s linear;
  animation: navFallDown 1.4s cubic-bezier(0.26, 1.2, 0.76, 1.22) 1;
  z-index: 3;
}

nav .contact__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3rem;
  padding: 0.6rem 1.5rem;
  width: 12vw;
  border-radius: 50px;
  border: none;
  font-size: 1.5rem;
  color: #f9f5ed;
  cursor: pointer;
  background-color: #7691b7;
}

nav .contact__button .contactSVG {
  transform: translateY(4px);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/img/forward-arrow.svg);
  background-repeat: no-repeat;
}

nav .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6rem;
}

nav .left-logo {
  width: 100px;
  height: 100px;
  background-image: url(/img/baby-feet.svg);
  background-repeat: no-repeat;
  opacity: 0.6;
}

nav .left-title {
  margin: 0 4rem 0 2rem;
  letter-spacing: 0.6rem;
  font-size: 2.5rem;
  color: #7d7b78;
}

nav .left-dscrp {
  font-size: 1rem;
  width: 100px;
  opacity: 0.6;
}

.autoScrollButton {
  position: fixed;
  top: 88vh;
  right: 5vw;
  padding: 2rem;
  border-radius: 50%;
  animation: navRiseUp 1.4s cubic-bezier(0.26, 1.2, 0.76, 1.22) 1;
  transition: 0.2s linear;
  background-color: #7691b7;
  border: none;
  z-index: 1;
}

.autoScrollButton__img {
  position: absolute;
  height: 150px;
  width: 60px;
  transform: scaleY(2) translate(-50%, -10%);
  stroke: transparent;
  stroke-width: 0px;
  background-repeat: no-repeat;
  background-image: url(/img/down-arrow.svg);
  cursor: pointer;
}

.nav-menu-icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-menu-icon {
    display: block;
    cursor: pointer;
    padding: 2rem;
    margin-right: 5rem;
    border: none;
    background-color: none;
  }
  .mobileNav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: 1s linear;
  }
  .mobileNav a {
    position: absolute;
    width: 90vw;
    right: -100vw;
    height: 70vh;
    display: flex;
    z-index: 113;
  }
  .mobileNav__1 {
    top: 13vh;
    transform: rotate(355deg);
    animation: mobileNav 1s cubic-bezier(0.17, 0.67, 0.45, 1.02) 0.1s 1 forwards;
    background-color: #8bc3d2;
  }
  .mobileNav__2 {
    top: 26vh;
    transform: rotate(345deg);
    animation: mobileNav 1s cubic-bezier(0.17, 0.67, 0.45, 1.02) 0.1s 1 forwards;
    background-color: #ebc661;
  }
  .mobileNav__3 {
    top: 40vh;
    transform: rotate(335deg);
    animation: mobileNav 1s cubic-bezier(0.17, 0.67, 0.45, 1.02) 0.1s 1 forwards;
    background-color: #e79b5d;
  }
  .mobileNav__4 {
    top: 57vh;
    transform: rotate(325deg);
    animation: mobileNav 1s cubic-bezier(0.17, 0.67, 0.45, 1.02) 0.1s 1 forwards;
    background-color: #7691b7;
  }
  .mobileNav__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
    height: 40px;
    width: fit-content;
    overflow: hidden;
    color: #f9f5ed;
  }
  .mobileNav__text div {
    text-decoration: none;
    font-size: 2.5rem;
    animation: textAppearY2 1.2s cubic-bezier(0.17, 0.67, 0.45, 1.02) 1;
  }
  .mobileNav__text-1 {
    transform: rotate(365deg);
  }
  .mobileNav__text-2 {
    transform: rotate(375deg);
  }
  .mobileNav__text-3 {
    transform: rotate(385deg);
  }
  .mobileNav__text-4 {
    transform: rotate(395deg);
  }
}

@media screen and (max-width: 1000px) {
  body .container123, body .container456, body .container789, body .containerLast {
    display: none;
  }
  body nav {
    width: 100vw;
  }
  body nav .contact__button {
    display: none;
  }
  body main {
    width: 100vw;
  }
  body main .hero {
    width: 100vw;
  }
}

* {
  box-sizing: border-box;
  font-family: 'nunito', 'montserrat';
}

body, html {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 100%;
  max-height: 300vh;
  background-color: #F5F3E7;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

main {
  position: absolute;
  width: calc(100vw - 27vw);
  height: 300vh;
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */