
// Container
footer {
  position: absolute;
  top: 220vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: $colorFooter;
  overflow-y: hidden;

  & .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86%;
    height: 86%;
    // grid-gap: 2rem;
  
    & > div { 
      display: flex;
      flex-direction: row;
    }
  }
}

// top third
.footer {
  &__box {
    margin-top: 4rem;
    display: flex;
    color: white;

    &:first-child {
      margin-bottom: 4rem;
    }
  }
  &__left {
    width: 60%;
    &-1 {
      line-height: 4rem;
      font-size: 5rem;
    }
    &-2, &-3 {
      display: flex;
      flex-direction: column;
      width: 20%;
      font-size: 1.5rem;

      & span {
        line-height: 3rem;
        font-size: 1rem;
      }
    }
  }
}

// middle third
.footer__center {
  width: 20%;
  &-1 {
    display: flex;
    align-items: center;
  }

  &-1 a {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: $mediumFont;

    & div:last-child {
      position: absolute;
      left: 10rem;
      display: flex;
    }
    & svg {
      @include iconSize;
      background-image: url(/img/icons8-mail.svg);
      background-repeat: no-repeat;
    }
  }
}


.footer__center-2 {
  display: flex;
  flex-direction: row;
  max-width: 25vw;

  & a {
    display: flex;

    & svg {
      @include iconSize;
      background-repeat: no-repeat;
    }
  }
  & a:first-child svg {
    background-image: url(/img/icons8-facebook.svg);  }
  & a:nth-child(2) svg {
    background-image: url(/img/icons8-twitter-circled.svg);  }
  & a:nth-child(3) svg {
    background-image: url(/img/icons8-instagram.svg);  }
  & a:nth-child(4) svg{
    background-image: url(/img/icons8-github.svg);  }
}

// #socialTags {
//   flex: 0.7;
// }



// bottom third
.footer__bottom {
  width: 20%;
  &-1 {
    width: 60%;
    height: 3vw;
    background-image: url(/img/svgator-seeklogo.com.svg);
    background-repeat: no-repeat;
  }
  &-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}
  

