nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - #{$columnWidth * 3});
  height: 20vh;
  transition: $transitionerQuick;
  animation: navFallDown $contentLoadTimeSlow cubic-bezier(0.26, 1.2, 0.76, 1.22) 1 ;
  z-index: 3;

  & .contact__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3rem;
    padding: 0.6rem 1.5rem;
    width: 12vw;
    border-radius: 50px;
    border: none;
    font-size: $smallFont;
    color: #f9f5ed;
    cursor: pointer;
    background-color: $ColorOne;

    & .contactSVG {
      transform: translateY(4px);
      width: $smallFont;
      height: $smallFont;
      background-image: url(/img/forward-arrow.svg);
      background-repeat: no-repeat;
    }
  }
  & .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6rem;

    &-logo {
      width: 6vw;
      height: 6vw;
      background-image: url(/img/baby-feet.svg);
      background-repeat: no-repeat;
      opacity: 0.6;
    }
    &-title {
      margin: 0 4rem 0 2rem;
      letter-spacing: 0.6rem;
      font-size: $bigFont;
      color: $globalGrey;
    }
    &-dscrp {
      font-size: $smallerFont;
      width: 5vw;
      opacity: 0.6;
    }
  }
}

// Its the DOWN ARROW 
.autoScrollButton {
  position: fixed;
  top: 88vh;
  right: 5vw;
  padding: 2rem;
  border-radius: 50%;
  animation: navRiseUp $contentLoadTimeSlow cubic-bezier(0.26, 1.2, 0.76, 1.22)  1;
  transition: $transitionerQuick;
  background-color: $ColorOne; 
  border: none;
  z-index: 1;

  &__img {
    position: absolute;
    height: 150px;
    width: 60px;
    transform:  scaleY(2) translate(-50%, -10%);
    stroke: transparent;
    stroke-width: 0px;
    background-repeat: no-repeat;
    background-image: url(../src/img/down-arrow.svg);
    cursor: pointer;
  }
}