@media screen and (max-width: 1024px) {

.highZ {
  z-index: 1000 !important;
}
.mobileNav {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $colorPage;
  transition: $transitioner;
  z-index: 11;

  & a {
    position: absolute;
    width: 90vw;
    right: -100vw;
    height: 70vh;
    display: flex;
    z-index: 113;

  }
  &__1 {
    top: 13vh;
    transform: rotate(355deg);
    animation: mobileNav $transitionerMobile $mobileShape 0.5s 1 forwards;
    background-color: $colorFooter;
  }
  &__2 {
    top: 26vh;
    transform: rotate(345deg);
    animation: mobileNav $transitionerMobile $mobileShape 0.33s 1 forwards;
    background-color: $ColorThree;
  }
  &__3 {
    top: 40vh;
    transform: rotate(335deg);
    animation: mobileNav $transitionerMobile $mobileShape 0.2s 1 forwards;
    background-color: $ColorTwo;
  }
  &__4 {
    top: 57vh;
    transform: rotate(325deg);
    animation: mobileNav $transitionerMobile $mobileShape 0.1s 1 forwards;
    background-color: $ColorOne;
  }
  
}

// the text 
.mobileNav__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: 10rem;
  height: 40px;
  width: fit-content;
  overflow: hidden;
  color: $globalTextColor;

  & div {
    text-decoration: none;
    font-size: $bigFont;
    animation: textAppearY2 1.2s $mobileShape 1;
  }
}
.mobileNav__text-1 {
    transform: rotate(365deg);
}
.mobileNav__text-2 {
    transform: rotate(375deg);
}
.mobileNav__text-3 {
    transform: rotate(385deg);
}
.mobileNav__text-4 {
    transform: rotate(395deg);
}



// HAMBURGER HAMBURGER 
.hamburger {
  position: relative;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 6rem;
  max-height: 6rem;
  padding: 10px ;
  background-color: none;
  background: none;
  border: none;
  outline: inherit;

  &__line {
    position: absolute;
    border: 2px solid black;
    width: 40px;
    transition: $transitionerQuick;

    &-1 {
      top: 10px;
    }
    &-2 {
      bottom: 10px;
    }
    &-3 {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}









}// media screen bracket




@media screen and (max-width: 390px) {












}